:root{
	--primari-color:#bbbbbb;
	--secundary-color:#ffffff;
    --tertiary-color: #C78C19;
    --active-color: #00ff0d;

	--marcacao-texto:hsl(0, 100%, 50%);
    --link-texto: #000000;
    --hover-button-color:#5f3f00;
}

header{
    background-color: var(--primari-color);;
}

header h1 img{
    height: 20vh;
}

.box-nav{
    width: 75vw;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 8vh;
    right: 0;
}

nav li{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: inline-block;
    margin: 0 0 0 1.5vw;
}

nav a{
    text-transform: uppercase;
    color:var(--link-texo);
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
}

nav a:hover{
    color: var(--tertiary-color);
    text-decoration: underline;
}


main{
    width: 1000px;
    margin: 0 auto;
}

.pole-barber{
    position: absolute;
    height: 50vw;
    right: 0;
    opacity: 0.2;
}

form{
    margin: 6vh 0;
    font-family: 'Roboto', sans-serif;
}

form label, .text-radio-form {
    font-family:'Roboto', sans-serif;
    display: block;
    font-size: 2.5vh;
    font-weight: 700;
    margin: 0 0 3vh;
}

.text-select-form{
    font-family:'Roboto', sans-serif;
    display: block;
    font-size: 2.5vh;
    font-weight: 700;
    margin: 0 0 1vh;
}

form #nome-sobrenome, #email, #telefone, #mensagem{
    font-size: 2vh;
    display: block;
    margin: 0 0 4vh;
    padding: 1vh 3vh;
    width: 50vw;
    border: none;
    border-radius: 0.5vw;
    box-shadow: 1px 1px 0.2em var(--hover-button-color);
}

.checkbox{
    margin: 3vh 0;
}

.submit-form{
    color: var(--secundary-color);
    font-family:'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 0.5vw;
    padding: 1vw 2vh;
    background-color: var(--tertiary-color);
    transition: ease-in-out 0.3s;
}

.submit-form:hover{
    background-color: var(--link-texto);
    transform: scale(1.2);
}

.tabela-horario{
    margin: 5vw 1vh;
    font-family:'Roboto', sans-serif;
    border:var(--link-texto)  3px solid;
}

.cabecario-tabela{
    background-color: var(--link-texto);
    color: var(--secundary-color);
}

.text-cabecario{
    padding: 0.5vw 2vh;
    font-size: 2rem;
    font-weight: 700;
}

.text-body-table{
    font-size: 1.5rem;
    padding: 0.5vw 2vh;
}

.text-body-table{
    border-right: var(--link-texto) 3px solid;
}

#body-table2{
    background-color: var(--tertiary-color);
}

footer{
    text-align: center;
    background: url(/img/bg.jpg);
    padding: 5vh 0;
}

.copyrigth{
    color: var(--secundary-color);
    font-family: 'Roboto', sans-serif;
}


